# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# manual and local test files
mytest.py

# VS Code
.vscode/

# build
*.egg-info/
build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/